table {
  margin-left: auto;
  margin-right: auto;
}

.search_submit_type_here{
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 10px;
}

input[type=text]{
  padding-left: 12px;
  padding-bottom: 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.findmywine_input_box_label{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #663300;
  text-align: right;
}

td {
  text-align: right;
}

.findmywine_input_box{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
}

::placeholder{
  font-style: italic;
  font-size: 14px;
  font-weight: 50px;
}

.buttons{
  text-align: center;
}

.findmywine_submit_button{
  float: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #663300;
  border: 3px solid #663300;
  background-color: white;
  width: 120px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 12px;
}

.findmywine_submit_button:hover {
  color: white;
  background-color: #663300;
}

table.search_terms {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 48px;
  margin-bottom: 10px;
}

table.search_terms td{
  height: 35px;
  width: 90px;
  text-transform: capitalize;
  color: #663300;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

table.search_terms #search_terms_input{
  width: 400px;
}

table {
  border-collapse: collapse;
  margin-left: 40px;
  margin-right: 40px;
}

table th, table td {
  border-bottom: 1px solid #663300;
}

table th{
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

table td{
  height: 50px;
  width: 12.5%;
  text-align: center;
  vertical-align: middle;
}

table tr:hover {background-color: #f5f5f5;}

/*start of CSS for JavaScript that allows for sorting table results*/
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url("up-down-arrow-image.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 4px 20px 4px 4px;
}
/*end of CSS for JavaScript that allows for sorting table results*/

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rank{
  color: purple;
}

.rank:nth-child(3n), .rank:nth-child(5n){
  font-size:0px;
}

.rank:nth-child(3n):before{
  font-size:16px;
  content:"Fizz";
}
.rank:nth-child(5n):after{
  font-size:16px;
  content:"Buzz";
}
